local_file/temp_file/*
local_file/raw_file/*
local_file/step1_file/*
local_file/step2_file/*
local_file/step3_file/*
local_file/step4_file/*
local_file/step5_file/*

!local_file/*/.gitkeep
!local_file/step4_file/models/
!local_file/step4_file/models/**
